body{
    background-image: url("https://raw.githubusercontent.com/LBarreTs/Projetos/c2d59579889db5ba3c361cfd3d3b5422b09be8a8/background-image_source-4280758_1280.jpg");
    padding: 30px;
    margin: -5px;
    line-height: 1.5;
}

h1{
    color: color-mix(in hsl shorter hue, red 75%, yellow 35%);
    font-size: 40px;
    font-family: serif;
}

p{
    color:#09ff00;
    font-size: 20px;
    font-family: Verdana;
    font-style: italic;
}

h1,p{
    margin-top: 0;
    margin-bottom: 1.5rem;
    text-align: center;
    line-height: 1.5em;
}

.menu{
    width: 62%;
    background-color: #080433a8;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
}

form {
    width: 30vw;
    line-height: 1em;
    font-size: 1.5rem;
    padding-bottom: 0.5 em;
    color: aliceblue;
}

label{
    display: flex;  
    align-items: center;
    
}

input,button,select,textarea{
    margin: 1em;
    min-height: 1.5em;
    max-width: max-content;
}
